.Plant{
    background-color: rgba(58, 109, 110, 0.46);
    width: 40%;
    margin: 20px auto;
    padding-bottom: 20px;
}

.Plant-Details-Button {
    background: none;
    color: white;
    font-size: 20px;
    border: none;
}

.Plant-Details-Button:hover {
    text-decoration: underline;
}

.Plant-Cart-Button {
    color: #3A6D6E;
    background: white;
}