.Home-Quiz-Button {
    background-color: #3A6D6E;
    padding: 65px;
    border-radius: 5px;
    color: white;
}

.Home {
    text-align: center;
    color: white;
}

.Home h2 {
    margin-top: 0;
}

.Home-Title {
    font-family: 'Yellowtail', cursive;
    font-size: 100px;
    text-shadow: 2px 2px 2px #3A6D6E;
}

.Home a {
    color: white;
    font-size: 25px;
}

.Home a:hover {
    color: white;
}