.PlantsPage-Plants {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
}

.PlantsPage a{
    color: white;
    margin: 0 auto;
    
}

.PlantsPage-Link {
    margin: 0 auto;
}

.PlantsPage-NoPlants {
    margin: 0 auto;
}
