.NavBar {
    background-color:#3A6D6E;
    color: white;
    padding: 10px 0;
}

.NavBar a {
    color: white;
    height: 30px;
}

.NavBar-Title {
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
}